# SPDX-License-Identifier: EUPL-1.2
# Font Awesome serves its packages, Pro and free, from its own registry. The token is never kept here:
# pnpm ignores ${...} in a project .npmrc, so it goes in the user-level ~/.npmrc (see README.md).
@fortawesome:registry=https://npm.fontawesome.com/
